/* Component Stylesheet
============================================================
============================================================*/

body {
    background-color: #f8ebc9;
    font-family: 'Oswald', sans-serif;
}

section {
    margin: auto;
    margin-top: 50px;
    width: 51.2%;
    padding: 15px;
    padding-top: 1px;
    background-color: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
}

dd {
    position: relative;
    display: none;
    padding: 15px;
}

dt:target {
    background-color: #555;
}

dt:target + dd {
    display: block;
}

dt {
    position: relative;
    background-color: #999999;
    font-size: 1.1em;
    letter-spacing: -0.5px;
    color: white;
    padding: 14px;
    margin-top: 15px;
}

dt a {
    color: white;
}

dt::after {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    content: url(../../images/accordion/plus.png);
    width: 25px;
    height: 25px;
}

dd::before {
    position: absolute;
    top: -41px;
    right: 15px;
    display: block;
    content: url(../../images/accordion/minus.png);
    width: 25px;
    height: 25px;
}

dd img {
    width: 220px;
    padding: 4px;
    box-shadow: 0 0 1px #999;
    display: inline;
    vertical-align: top;
}

dd p {
    font-size: 0.72em;
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

img {
    display: block;
    margin: auto;
}
