<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />


</head>
<body>
	<a style="font-size: 30px; font-family: arial;" href="../../index.html#post5">&#10094;&#10094;Back</a>
	<!-- Component -->
	<section>
		<dl>
			<dt id="venice"><a href="#venice">Venice</dt></a>
			<dd>
				<img src="../../images/accordion/venice.jpg" alt="venice" />
				<p>
					Venice is the capital of the Veneto region. In 2009, there were 270,098 people residing in Venice's comune (the population estimate of 272,000 inhabitants includes the population of the whole Comune of Venezia; of whom around 60,000[2] live in the historic city of Venice (Centro storico); 176,000 in Terraferma (the mainland), mostly in the large frazioni (roughly equivalent to "parishes" or "wards" in other countries) of Mestre and Marghera; and 31,000 on other islands in the lagoon). Together with Padua and Treviso, the city is included in the Padua-Treviso-Venice Metropolitan Area (PATREVE), with a total population of 2,600,000. PATREVE is only a statistical metropolitan area without any degree of autonomy.
				</p>
			</dd>
			<dt id="cinqueTerre"><a href="#cinqueTerre">Cinque Terre</a></dt>
			<dd>
				<img src="../../images/accordion/cinque.jpg" alt="cinque" />
				<p>
					Venice is the capital of the Veneto region. In 2009, there were 270,098 people residing in Venice's comune (the population estimate of 272,000 inhabitants includes the population of the whole Comune of Venezia; of whom around 60,000[2] live in the historic city of Venice (Centro storico); 176,000 in Terraferma (the mainland), mostly in the large frazioni (roughly equivalent to "parishes" or "wards" in other countries) of Mestre and Marghera; and 31,000 on other islands in the lagoon). Together with Padua and Treviso, the city is included in the Padua-Treviso-Venice Metropolitan Area (PATREVE), with a total population of 2,600,000. PATREVE is only a statistical metropolitan area without any degree of autonomy.
				</p>
			</dd>
			<dt id="pompeii"><a href="#pompeii">Pompeii</a></dt>
			<dd >
				<img src="../../images/accordion/pompeii.jpg" alt="pompeii" />
				<p>
					Venice is the capital of the Veneto region. In 2009, there were 270,098 people residing in Venice's comune (the population estimate of 272,000 inhabitants includes the population of the whole Comune of Venezia; of whom around 60,000[2] live in the historic city of Venice (Centro storico); 176,000 in Terraferma (the mainland), mostly in the large frazioni (roughly equivalent to "parishes" or "wards" in other countries) of Mestre and Marghera; and 31,000 on other islands in the lagoon). Together with Padua and Treviso, the city is included in the Padua-Treviso-Venice Metropolitan Area (PATREVE), with a total population of 2,600,000. PATREVE is only a statistical metropolitan area without any degree of autonomy.
				</p>
			</dd>
		</dl>
	</section>

	<!-- End Component -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="../../components/5/js/main.js"></script>
</body>
</html>
