/* Project CSS
============================================================
============================================================*/

body {
    font-family: sans-serif;
}

/* NAV ============================== */
nav {
    position: relative;
    background-color: rgba(0, 0, 0, 1);
    background-image: url(../images/nav_back.png);
    border-top: 3px solid #666;
    border-bottom: 3px solid #111;
    z-index: 9999;
}
nav img {
    position: absolute;;
    margin-left: 20px;
    margin-top: -27px;
    width: 270px;
}

nav li {

    padding: 10px;
    margin: 0;
    display: inline-block;
    transition: 300ms;
}

nav li:hover {
    background-color: rgba(255, 255, 255, 0.15);
    transition: 300ms;
}

nav li:hover a {
    color: white;
    transition: 300ms;
}

nav li a {
    color: #666;
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 4px #111;
    transition: 300ms;
}

nav ul {
    margin-left: 300px;
}

h1 {
    font-size: 7em;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 1em;
    font-family: sans-serif;
    text-shadow: 2px 2px 2px black;
}

h2 {
    margin-left: 15%;
    font-size: 2.5em;
    margin-top: 0.5em;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
    text-shadow: 2px 2px 2px black;
}

h3 {
    margin-top: 5px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;

}

h4 {
    margin-top: 20px;
    font-weight: bold;
    color: #888;
}

article p {
    margin-top: 5px;
    color: white;
}

.how_sec li {
    width: 100%;
    background-color: #222;
    padding: 3px;
}
/* HEADER ============================== */
header {
    background-image: url(../images/background.png);
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

/* ABOUT ============================== */
.about {
    position: relative;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.about img {
    width: 250px;
    display: inline-block;
    vertical-align: middle;
    margin: 15px;
}

.about p {
    display: inline-block;
    width: 600px;
    color: white;
    font-size: 1.1em;
    font-family: sans-serif;
    vertical-align: middle;
    margin: 15px;
    z-index: 0;
}
/* COMPONENTS ============================== */

.wrapper {
    position: relative;
    margin-top: 100vh;
	background-color: #222;
    z-index: 1000;
    border-top: solid 3px rgba(0, 0, 0, 0.5);
}

article {
    width: 75%;
    margin: auto;
    background-color: #111;
    border: 7px solid #444;
    border-radius: 15px;
    margin-top: 40px;
    padding: 40px;
}

article img {
    width: 100%;
}

footer {
    text-align: center;
    font-size: 0.7em;
    color: #777;
    padding: 20px;
    background-color: #111;
    margin-top: 40px;
}
