<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Matthew Lee</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />


</head>
<body>
	<a style="font-size: 30px; font-family: arial;" href="../../index.html#post2">&#10094;&#10094;Back</a>
	<!-- Component -->
	<table>
		<tr>
			<th>Name &#9662</th>
			<th>Mobile &#9662</th>
			<th>Mail id &#9662</th>
			<th>DOB &#9662</th>
			<th>Date &#9662</th>
			<th>Notify &#9662</th>
		</tr>
		<tr>
			<td>suresh</td>
			<td>8888888888</td>
			<td></td>
			<td>21/3/1983</td>
			<td>21-03-2013 06:17:27 <br>PM</td>
			<td>Gold,Platinum</td>
		</tr>
		<tr>
			<td>dinesh</td>
			<td>7777777777</td>
			<td>ytu@l.com</td>
			<td>21/3/2013</td>
			<td>21-03-2013 06:17:27 <br>PM</td>
			<td>Silver</td>
		</tr>
		<tr>
			<td>suresh</td>
			<td>8888888888</td>
			<td></td>
			<td>21/3/1983</td>
			<td>21-03-2013 06:17:27 <br>PM</td>
			<td>Gold,Platinum</td>
		</tr>
		<tr>
			<td>jagan</td>
			<td></td>
			<td></td>
			<td>10/3/1980</td>
			<td>21-03-2013 06:17:27 <br>PM</td>
			<td>Platinum</td>
		</tr>
		<tr>
			<td>jagan</td>
			<td></td>
			<td></td>
			<td>10/3/1980</td>
			<td>21-03-2013 06:17:27 <br>PM</td>
			<td>Platinum</td>
		</tr>
		<tr>
			<td>suresh</td>
			<td>1234567890</td>
			<td>surw@de.com</td>
			<td>11/3/2013</td>
			<td>21-03-2013 06:17:27 <br>PM</td>
			<td>Diamond</td>
		</tr>
	</table>

	<!-- End Component -->

</body>
</html>
