/* Component Stylesheet
============================================================
============================================================*/
nav {
    border: #444444 solid 1px;
    background-color: #222222;
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    background-image: url(images/background.png);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1000;
    border-bottom: none;

}

ul {
}

nav ul li {
    display: inline-block;
    position: relative;
    padding: 10px;
    padding-left: 2.175%;
    padding-right: 2.175%;
    background-color: #333333;
    background-image: url(images/background.png);
    border-top: #888888 solid 1px;
    border-left: #888888 solid 1px;
    margin-right: -2px;
    border-bottom: 10px solid #666;
}

li:hover {
    background-color:#616161;
}

ul li:first-child {
    border-top-left-radius: 5px;
}

ul li:last-child {
    border-top-right-radius: 5px;
}

li a {
    font-family: 'Lato', sans-serif;
    letter-spacing: .8px;
    color: white;
    font-size: 0.8em;
    text-shadow: 1px 1px 3px black;
}

hr {
    display: block;
    border: 0;
    border-top: 1px solid #222;
    border-bottom: 1px solid #888;
    margin: 1em 0;
    padding: 0;
    margin: 0;
}

.sub {
    box-shadow: inset 0 5px 8px -5px rgba(0,0,0,1);
    position: absolute;
    margin: 0;
    margin-top: 48px;
    top: 0;
    left: 0;
    width: 185px;
    list-style-type: none;
    display: none;
    padding: 15px;
    background-color: #333333;
    background-image: url(images/background.png);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 0;

}

li:hover .sub {
    display: block;
}

.sub li {
    display: block;
    border: none;
    border-radius: none;
    margin: 0;
}

.sub li:hover {
    background-color: #333333;
}

.sub li a {
    color: #ccc;
}

.sub li a:hover {
    color: #fff;
}
