/* Component Stylesheet
============================================================
============================================================*/
nav {
    border: #444444 solid 1px;
    background-color: #222222;
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    background-image: url(images/background.png);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

ul {
}

nav ul li {
    display: inline-block;
    padding: 10px;
    padding-left: 2.175%;
    padding-right: 2.175%;
    -moz-padding-left: 2.170%;
    -moz-padding-right: 2.170%;
    background-color: #4d4d4d;
    background-image: url(images/background.png);
    border-top: #888888 solid 1px;
    border-left: #888888 solid 1px;
    margin-right: -2px;
    border-bottom: 10px solid #7f7f7f;
}

li:hover {
    background-color:#616161;
}

ul li:first-child {
    border-top-left-radius: 5px;
}

ul li:last-child {
    border-top-right-radius: 5px;
}

li a {
    font-family: 'Lato', sans-serif;
    letter-spacing: .8px;
    color: white;
    font-size: 0.8em;
    text-shadow: 1px 1px 3px black;
}

.sub {
    position: absolute;
    overflow: hidden;
    margin: 0;
    list-style-type: none;
    margin-top: 20px;
    display: none;
    padding: 10px;
    background-color: #4d4d4d;
    background-image: url(images/background.png);


}

li:hover .sub {
    display: block;
}

.sub li {
    display: block;
    border: none;
    border-radius: none;
}
