<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link href='https://fonts.googleapis.com/css?family=Lato:800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />


</head>
<body>
	<a style="font-size: 30px; font-family: arial;" href="../../index.html#post1">&#10094;&#10094;Back</a>
	<!-- Component -->
	<nav>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Portfolio</a></li>
			<li><a href="#">Freebies</a>
				<ul class="sub">
					<li><a href="#">Photoshop Brushes</a></li><hr>
					<li><a href="#">High-Res Textures</a></li><hr>
					<li><a href="#">Vector Icon Sets</a></li><hr>
					<li><a href="#">Photoshop Patterns</a></li>
				</ul></li>
			<li><a href="#">Showcase</a></li>
			<li><a href="#">Our Blog</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">By PremiumPixels.com</a></li>
		</ul>
	</nav>
	<!-- End Component -->

</body>
</html>
