<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Matthew Lee</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />


</head>
<body>
	<a style="font-size: 30px; font-family: arial;" href="../../index.html#post3">&#10094;&#10094;Back</a> <br>
	<!-- Component -->
	<section>
	<img src="../../images/profiles/AdamWher.jpg" alt="" />
	<div>
		<h3>Adam Wher</h3>
		<p>
			Passionate about finding you the right career.
		</p>
	</div>
	</section>
	<section>
	<img src="../../images/profiles/AlexGrandes.jpg" alt="" />
	<div>
		<h3>Alex Grandes</h3>
		<p>
			Dedicated to making your tomorrow better than today.
		</p>
	</div>
	</section>
	<section>
	<img src="../../images/profiles/AnthonyHampton.jpg" alt="" />
	<div>
		<h3>Anthony Hampton</h3>
		<p>
			There's an opportunity demanded, I supply greatness.
		</p>
	</div>
	</section>
	<section>
	<img src="../../images/profiles/AshleeCristensen.jpg" alt="" />
	<div>
		<h3>AshleeCristensen</h3>
		<p>
			Saving the world one technical placement at a time.
		</p>
	</div>
	</section>
	<section>
	<img src="../../images/profiles/BobZebrowski.jpg" alt="" />
	<div>
		<h3>Bob Zebrowski</h3>
		<p>
			The person who is driven to help you succeed.
		</p>
	</div>
	</section>
	<section>
	<img src="../../images/profiles/BrettDeluca.jpg" alt="" />
	<div>
		<h3>Brett Deluca</h3>
		<p>
			Executive IT recruiter by day. And by night...I'm here for you.
		</p>
	</div>
	</section>
	<section>
	<img src="../../images/profiles/BillCoole.jpg" alt="" />
	<div>
		<h3>Bill Coole</h3>
		<p>
			Settling isn't an option.
		</p>
	</div>
	</section>
	<section>
	<img src="../../images/profiles/BrittanyTofani.jpg" alt="" />
	<div>
		<h3>Brittany Tofani</h3>
		<p>
			Things do not happen. Things are made to happen. Let me help you.
		</p>
	</div>
	</section>

	<!-- End Component -->

</body>
</html>
