/* Component Stylesheet
============================================================
============================================================*/

footer {
    margin: auto;
    margin-top: 40px;
    background-color: #333333;
    padding-top: 30px;
    padding-bottom: 50px;
    font-family: sans-serif;
    border-top: 3px solid #cf4227;
    width: 92%;
}

h4 {
    font-weight: bold;
    font-size: .86em;
    margin-bottom: 20px;
    color: #cccccc;
}

section {
    margin-left: 10.5%;
    width: 200px;
}

section img[alt~="avatar"] {
    border: 5px #cf4227 solid;
    display: inline-block;
    vertical-align: top;
}

img[alt~="settings"]{
    width: 20px;
    vertical-align: bottom;
    float: right;
}

h3 {
    width: 50px;
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
    line-height: 30px;
    font-weight: bold;
    font-size: 16px;
    color: #cf4227;
}

p {
    font-size: 9.5px;
    font-family: courier;
    margin-left: 35px;
    margin-top: 16px;
    color: #cf4227;
}

nav, section {
    display: inline-block;
}

nav {
    margin-left: 4%;
}

ul {
    list-style-type: none;
}

li {
    padding: 7px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #222;
    width: 195px;
}

li a {
    color: white;
    font-size: .75em;
}
